@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mxd·博客V0.1</title>
    <link href="~/css/Index_css.css" rel="stylesheet" />
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="~/js/Index.js" type="module"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>
    <main>
        <div class="page1">
            <div id="section1" class="section">
                <h1>欢迎光临 Mxd·博客</h1>
                <p>网站正在逐步开发中...</p>
                <a asp-area="" asp-controller="Home" asp-action="Home">
                    <el-button type="success" round>进入博客</el-button>
                </a>
            </div>
        </div>
    </main>
</body>
</html>
